body{
  background-image: url(../image/fond_ecran.jpg);
}

/*
 * 
 * CSS POUR ICONE INSCRIPTION / CONNEXION
 * 
 */
 
.icone_inscription,.icone_connexion,.validation_connexion,.poster_annonce{
  position:absolute;
  z-index:10;
  font-size:100%;
}

.icone_inscription{
  top:45%;
  right:5%;
  border:1px black solid;
  width:10%;
  text-align:center;
  background-color:white;
}

.icone_connexion{
  top:30%;
  right:5%;
  width:21%;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.validation_connexion{
  top:42%;
  right:25%;
  width:3%;
}

.poster_annonce{
  margin:2px;
  top:43%;
  left:33.6%;
  height:7%;
  width:15%;
  text-align:center;
  border:1px black solid;
}

/*
 * 
 * CSS DU FORMULAIRE
 * 
 */

.formulaire>form,.page_accueil{
  position:absolute;
  z-index:10;
}

.formulaire > form{
  right:20%;
  left:20%;
  height:65%;
  padding:2%;
  border:6px black double;
  top:50%;
  width:auto;
  text-align:center;
  background-color:#AA68EC;
}

.annonce>label{
  padding-bottom:20%;
  font-style:red underline;
}

.text{
  width:40%;
  text-align:left;
}

.input{
  position:absolute;
  text-align:right;
  bottom:5%;
  right:5%;
}

.description{
  width:50%;
  height:100px;
}

.input_off{
  border:none;
  text-align:right;
}

.input_off:focus{
  outline:none;
}

/*
 * 
 * CSS DE LA BARRE DE FOND ET TETE DE PAGE POUR INFORMATION SUPPLEMENTAIRES
 *  
 */
 
.page_accueil > a{
  text-decoration:red underline;
  color:red;
}

.page_accueil{
  bottom:-40%;
  right:5%;
}

.head{
  position:absolute;
  background-image: url(../image/head_page.jpg);
	background-repeat: no-repeat;
  background-size:100%;
  height:25%;
  top:0%;
  right:0%;
  left:0%;
  border:1px black solid;
  text-align:center;
  font-size:xx-large;
  border:1px grey solid;
  background-color:grey;
  color:black;
}

.footer>a{
  text-decoration:none;
  color:white;
}

.footer{
  position:absolute;
  padding-top:5px;
  bottom:-75%;
  left:0px;
  right:0px;
  height:15%;
  text-align:center;
  border:1px grey solid;
  background-color:grey;
  color:white;
}

.footer>a:hover{
  color:white;
  text-decoration:underline;
}

/*
 * 
 * CSS TEST ET ERREURS
 * 
 */
 
.erreur{
  position:absolute;
  z-index:11;
  color:white;
  padding:1%;
  background-color:black;
  top:30%;
  left:40%;
  right:40%;
  bottom:60%;
  text-align:center;
  border:2px red double;
}

.deconnexion{
  position:absolute;
  z-index:10;
  border:6px black double;
  text-align:center;
  top:22%;
  right:9%;
  left:76%;
  background-color:#a7a7a7;
}

